
<%=  form_with(model: @user, class: "ui form", role: "form", local: true) do |f| %>
  <div class="field">
    <%= f.label :username, class: "field" %>
    <%= f.text_field :username, placeholder: "Username" %>
  </div>
  <div class="field">
    <%= f.label :password, class: "field" %>
    <%= f.password_field :password, placeholder: "Enter Password" %>
  </div>
  <%= f.submit "Signup!", class: "ui button" %>
 <%end%>
